builds
latex_files/version_control_commit_number_to_print_on_draft_title_page.tex
# Latex
*.aux
*.lof
*.log
*.lot
*.out
*.pdf
*.toc
*.fdb_latexmk
*.fls
*.bbl
*.blg
# Vim
.*.swo
.*.swp
# Mac
.DS_Store
