# Other build files
latex_files/version_control_commit_number_to_print_on_draft_title_page.tex
# Latex
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.toc
*.tdo
*.fdb_latexmk
*.fls
*.nav
*.snm
*.synctex.gz
*.vrb
*.nav
*-eps-converted-to.pdf

# Editor and OS
.DS_Store
*.swp
*.swo
